Add Customer Data.json
{
    "name": "Add Customer Data",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1304636
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -237,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Client Details Sync to Installers"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2156737
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 63,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection New"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2156737
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.id}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{2.mappable_column_values.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "10",
                "boardId": "4693736788",
                "columnId": "text2",
                "startPage": "",
                "columnValue": "{{2.mappable_column_values.text}}",
                "showParentID": false,
                "showSubitemsID": false,
                "filterToGetColumnValues": []
            },
            "metadata": {
                "designer": {
                    "x": 455,
                    "y": -8
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "Clients | Accounts  ::  private"
                        },
                        "columnId": {
                            "mode": "chose",
                            "label": "Client Reference"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection New"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "how_can_we_help_",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "How can we help?"
                            },
                            {
                                "name": "notes",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Notes"
                            },
                            {
                                "name": "person",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Person"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 888,
                    "y": -4
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "monday:ExecuteGraphQLQuery",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.mappable_column_values.contact_phone.phone}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "method": "POST",
                                "queryBody": "mutation { change_multiple_column_values( board_id: {{2.board.id}}, item_id: {{2.id}} column_values: \"{\\\"{{if(2.board.id = 6203211056; \"phone__1\"; \"phone\")}}\\\":{\\\"phone\\\":\\\"{{3.mappable_column_values.contact_phone.phone}}\\\",\\\"countryShortName\\\":\\\"{{3.mappable_column_values.contact_phone.countryShortName}}\\\"}}\") \t{ id }}",
                                "variables": [],
                                "operationName": "",
                                "variablesDataSource": "array"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1374,
                                    "y": -15
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "POST (queries and mutations)"
                                        },
                                        "variables": {
                                            "mode": "chose"
                                        },
                                        "variablesDataSource": {
                                            "label": "Form"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "apiVersion",
                                        "type": "select",
                                        "label": "API Version"
                                    },
                                    {
                                        "name": "queryBody",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operationName",
                                        "type": "text",
                                        "label": "Operation Name"
                                    },
                                    {
                                        "name": "variablesDataSource",
                                        "type": "select",
                                        "label": "Variables Data Source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "array",
                                                "object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "mapper": {
                                "itemId": "{{3.id}}",
                                "boardId": "4693736788",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "color3__1",
                                        "columnValue": {
                                            "label": "Done",
                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                            "selectType": "label2index"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1678,
                                    "y": -134
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Clients | Accounts  ::  private"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Email Updated"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "chose",
                                                                "label": "Done"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 11,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1978,
                                            "y": -134
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "monday:ExecuteGraphQLQuery",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.mappable_column_values.location.text}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "method": "POST",
                                "queryBody": "mutation {change_multiple_column_values (board_id: {{2.board.id}}, item_id: {{2.id}}, column_values: \"{\\\"install_address\\\" : {\\\"lat\\\":\\\"{{3.mappable_column_values.location.lat}}\\\",\\\"lng\\\":\\\"{{3.mappable_column_values.location.lng}}\\\",\\\"address\\\":\\\"{{3.mappable_column_values.location.address}}\\\"}}\") {id}}",
                                "variables": [],
                                "apiVersion": "",
                                "operationName": "",
                                "variablesDataSource": "array"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1244,
                                    "y": -263
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "POST (queries and mutations)"
                                        },
                                        "variables": {
                                            "mode": "chose"
                                        },
                                        "apiVersion": {
                                            "label": "Empty"
                                        },
                                        "variablesDataSource": {
                                            "label": "Form"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "apiVersion",
                                        "type": "select",
                                        "label": "API Version"
                                    },
                                    {
                                        "name": "queryBody",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operationName",
                                        "type": "text",
                                        "label": "Operation Name"
                                    },
                                    {
                                        "name": "variablesDataSource",
                                        "type": "select",
                                        "label": "Variables Data Source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "array",
                                                "object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "mapper": {
                                "itemId": "{{3.id}}",
                                "boardId": "4693736788",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "status3",
                                        "columnValue": {
                                            "label": "Done",
                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                            "selectType": "label2index"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1526,
                                    "y": -436
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Clients | Accounts  ::  private"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Location Updated"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "chose",
                                                                "label": "Done"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 15,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1826,
                                            "y": -436
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "monday:ExecuteGraphQLQuery",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.mappable_column_values.contact_email.text}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "method": "POST",
                                "queryBody": "mutation { change_multiple_column_values( board_id: {{2.board.id}}, item_id: {{2.id}} column_values: \"{\\\"{{if(2.board.id = 6203211056; \"email__1\"; \"customer_email\")}}\\\":{\\\"email\\\":\\\"{{3.mappable_column_values.contact_email.email}}\\\",\\\"text\\\":\\\"{{3.mappable_column_values.contact_email.text}}\\\"}}\") \t{ id }}",
                                "variables": [],
                                "apiVersion": "",
                                "operationName": "",
                                "variablesDataSource": "array"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1222,
                                    "y": 255
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "POST (queries and mutations)"
                                        },
                                        "variables": {
                                            "mode": "chose"
                                        },
                                        "apiVersion": {
                                            "label": "Empty"
                                        },
                                        "variablesDataSource": {
                                            "label": "Form"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "apiVersion",
                                        "type": "select",
                                        "label": "API Version"
                                    },
                                    {
                                        "name": "queryBody",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operationName",
                                        "type": "text",
                                        "label": "Operation Name"
                                    },
                                    {
                                        "name": "variablesDataSource",
                                        "type": "select",
                                        "label": "Variables Data Source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "array",
                                                "object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "mapper": {
                                "itemId": "{{3.id}}",
                                "boardId": "4693736788",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "color__1",
                                        "columnValue": {
                                            "label": "Done",
                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                            "selectType": "label2index"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1647,
                                    "y": 174
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Clients | Accounts  ::  private"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Phone Updated"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "chose",
                                                                "label": "Done"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1947,
                                            "y": 174
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}