Back from completed.json
{
    "name": "Back from completed",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 395202
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1050
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Back from completed"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 183282
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "3901788506",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1050
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Complete Orders  ::  public"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1050
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Deficiency",
                                        "value": "{{2.mappable_column_values.link_to_deficiency_items.linkedPulseIds}}"
                                    },
                                    {
                                        "name": "Work Order Submit",
                                        "value": "{{2.mappable_column_values.link_to_quotes6.linkedPulseIds}}"
                                    },
                                    {
                                        "name": "Pinnacle",
                                        "value": "{{2.mappable_column_values.connect_boards02.linkedPulseIds}}"
                                    },
                                    {
                                        "name": "Installer",
                                        "value": "{{2.mappable_column_values.connect_boards8.linkedPulseIds}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Deficiency",
                                        "type": "any",
                                        "label": "Deficiency"
                                    },
                                    {
                                        "name": "Work Order Submit",
                                        "type": "any",
                                        "label": "Work Order Submit"
                                    },
                                    {
                                        "name": "Pinnacle",
                                        "type": "any",
                                        "label": "Pinnacle"
                                    },
                                    {
                                        "name": "Installer",
                                        "type": "any",
                                        "label": "Installer"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "monday:GetItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`Work Order Submit`[].linkedPulseId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{4.`Work Order Submit`[].linkedPulseId}}",
                                "boardId": "3455362028",
                                "showSubitems": true,
                                "showParentItem": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "label": "Work Order Submit  ::  private"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showParentItem",
                                        "type": "boolean",
                                        "label": "Show Parent Item",
                                        "required": true
                                    },
                                    {
                                        "name": "showSubitems",
                                        "type": "boolean",
                                        "label": "Show Subitems",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID (NOT MANDATORY)"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "date",
                                        "label": "Created at"
                                    },
                                    {
                                        "name": "updated_at",
                                        "type": "date",
                                        "label": "Updated at"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State"
                                    },
                                    {
                                        "name": "board",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Board"
                                    },
                                    {
                                        "name": "creator_id",
                                        "type": "uinteger",
                                        "label": "Creator ID"
                                    },
                                    {
                                        "name": "group",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "deleted",
                                                "type": "boolean",
                                                "label": "Deleted"
                                            },
                                            {
                                                "name": "archived",
                                                "type": "boolean",
                                                "label": "Archived"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Group"
                                    },
                                    {
                                        "name": "column_values",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "additional_info",
                                                "type": "text",
                                                "label": "Additional Info"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values"
                                    },
                                    {
                                        "name": "mappable_column_values",
                                        "spec": [
                                            {
                                                "name": "long_text",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Notes For Office"
                                            },
                                            {
                                                "name": "dup__of_notes_for_office",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Notes For Supplier"
                                            },
                                            {
                                                "name": "dup__of_notes_for_supplier",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Notes For Installer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Mappable column values"
                                    },
                                    {
                                        "name": "assets",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "public_url",
                                                "type": "url",
                                                "label": "Public URL"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "file_extension",
                                                "type": "text",
                                                "label": "File Extension"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Assets"
                                    },
                                    {
                                        "name": "parent_item",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent Item"
                                    },
                                    {
                                        "name": "subitems",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitems"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Quotes",
                                        "value": "{{5.mappable_column_values.link_to_quotes.linkedPulseIds}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Quotes",
                                        "type": "any",
                                        "label": "Quotes"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "monday:GetItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.Quotes[].linkedPulseId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{6.Quotes[].linkedPulseId}}",
                                "boardId": "3465531891",
                                "showSubitems": true,
                                "showParentItem": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "label": "Quotes  ::  private"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showParentItem",
                                        "type": "boolean",
                                        "label": "Show Parent Item",
                                        "required": true
                                    },
                                    {
                                        "name": "showSubitems",
                                        "type": "boolean",
                                        "label": "Show Subitems",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID (NOT MANDATORY)"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "date",
                                        "label": "Created at"
                                    },
                                    {
                                        "name": "updated_at",
                                        "type": "date",
                                        "label": "Updated at"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State"
                                    },
                                    {
                                        "name": "board",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Board"
                                    },
                                    {
                                        "name": "creator_id",
                                        "type": "uinteger",
                                        "label": "Creator ID"
                                    },
                                    {
                                        "name": "group",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "deleted",
                                                "type": "boolean",
                                                "label": "Deleted"
                                            },
                                            {
                                                "name": "archived",
                                                "type": "boolean",
                                                "label": "Archived"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Group"
                                    },
                                    {
                                        "name": "column_values",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "additional_info",
                                                "type": "text",
                                                "label": "Additional Info"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values"
                                    },
                                    {
                                        "name": "mappable_column_values",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Mappable column values"
                                    },
                                    {
                                        "name": "assets",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "public_url",
                                                "type": "url",
                                                "label": "Public URL"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "file_extension",
                                                "type": "text",
                                                "label": "File Extension"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Assets"
                                    },
                                    {
                                        "name": "parent_item",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent Item"
                                    },
                                    {
                                        "name": "subitems",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitems"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Leads",
                                        "value": "{{7.mappable_column_values.connect_boards2.linkedPulseIds}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Leads",
                                        "type": "any",
                                        "label": "Leads"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    "Deficiency",
                                    "Work Order Submit",
                                    "Pinnacle",
                                    "Quotes",
                                    "Installer",
                                    "Leads"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1200
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Deficiency",
                                        "type": "any",
                                        "label": "Deficiency"
                                    },
                                    {
                                        "name": "Work Order Submit",
                                        "type": "any",
                                        "label": "Work Order Submit"
                                    },
                                    {
                                        "name": "Pinnacle",
                                        "type": "any",
                                        "label": "Pinnacle"
                                    },
                                    {
                                        "name": "Quotes",
                                        "type": "any",
                                        "label": "Quotes"
                                    },
                                    {
                                        "name": "Installer",
                                        "type": "any",
                                        "label": "Installer"
                                    },
                                    {
                                        "name": "Leads",
                                        "type": "any",
                                        "label": "Leads"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "mapper": {
                                "itemId": "{{2.id}}",
                                "boardId": "3901788506",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "color9",
                                        "columnValue": {
                                            "label": "Done",
                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                            "selectType": "label2index"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1200,
                                    "name": "Orders Back from complete"
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Complete Orders  ::  public"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Back items"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "chose",
                                                                "label": "Done"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1200
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 13,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.Leads[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{9.Leads[].linkedPulseId}}",
                                                "boardId": "3902878453",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300,
                                                    "name": "Leads Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Complete Leads  ::  public"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 29,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2100,
                                                            "y": 300
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 14,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.Quotes[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{9.Quotes}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 15,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{14.linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{14.linkedPulseId}}",
                                                "boardId": "3902040532",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 600,
                                                    "name": "Quotes Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Complete Quotes  ::  private"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 30,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 600
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.Deficiency[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{9.Deficiency}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 17,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{16.linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{16.linkedPulseId}}",
                                                "boardId": "3902002670",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 900,
                                                    "name": "Defiency Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Complete Deficiency Items  ::  private"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 31,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 900
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 18,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.`Work Order Submit`[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{9.`Work Order Submit`}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 19,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{18.linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{18.linkedPulseId}}",
                                                "boardId": "3901809396",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 1200,
                                                    "name": "Work order Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Complete Work Order Submit  ::  private"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 32,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 1200
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 20,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.Pinnacle[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{9.Pinnacle}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1500
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{20.linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{20.linkedPulseId}}",
                                                "boardId": "3901828315",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 1500,
                                                    "name": "Pinnacle Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Complete Pinnacle  ::  share"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 33,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 1500
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 22,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.Installer[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{9.Installer}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1800
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 24,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{22.linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{22.linkedPulseId}}",
                                                "boardId": "3902885957",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color5",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":1,\"1\":0},\"labels\":{\"0\":\"Done\"},\"labels_colors\":{\"0\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 1800,
                                                    "name": "Installer Back from complete"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Installers Complete  ::  share"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Back items"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 34,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 1800
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 27,
                                            "module": "util:FunctionSleep",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "duration": "60"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 2100
                                                },
                                                "restore": {},
                                                "expect": [
                                                    {
                                                        "name": "duration",
                                                        "type": "uinteger",
                                                        "label": "Delay",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 28,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "mapper": {
                                                "itemId": "{{2.id}}",
                                                "boardId": "3150158465",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "status46",
                                                        "columnValue": {
                                                            "label": "Warranty",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"3\":6,\"4\":19,\"6\":110,\"19\":4,\"110\":3},\"labels\":{\"0\":\"Date Requested\",\"1\":\"Completed\",\"2\":\"Deficiency\",\"3\":\"Ready For Install\",\"4\":\"Date Confirmed\",\"5\":\"N/A\",\"6\":\"Ready for Delivery\",\"7\":\"Delivered\"},\"labels_positions_v2\":{\"0\":1,\"1\":4,\"2\":5,\"3\":3,\"4\":2,\"5\":0,\"6\":6,\"7\":7},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"4\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"},\"6\":{\"color\":\"#401694\",\"border\":\"#401694\",\"var_name\":\"dark_indigo\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 2100
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Orders  ::  public"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Order Status"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Warranty"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 35,
                                                    "module": "util:FunctionSleep",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "duration": "60"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2400,
                                                            "y": 2100
                                                        },
                                                        "restore": {},
                                                        "expect": [
                                                            {
                                                                "name": "duration",
                                                                "type": "uinteger",
                                                                "label": "Delay",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 300,
                                                                    "min": 1
                                                                }
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 36,
                                                    "module": "monday:ChangeMultipleColumnValues",
                                                    "version": 1,
                                                    "parameters": {
                                                        "__IMTCONN__": 183282
                                                    },
                                                    "mapper": {
                                                        "itemId": "{{2.id}}",
                                                        "boardId": "3150158465",
                                                        "columnValuesToChange": [
                                                            {
                                                                "columnId": "status46",
                                                                "columnValue": {
                                                                    "label": "Warranty",
                                                                    "settings": "{\"done_colors\":[1],\"color_mapping\":{\"3\":6,\"4\":19,\"6\":110,\"19\":4,\"110\":3},\"labels\":{\"0\":\"Date Requested\",\"1\":\"Completed\",\"2\":\"Deficiency\",\"3\":\"Ready For Install\",\"4\":\"Date Confirmed\",\"5\":\"N/A\",\"6\":\"Ready for Delivery\",\"7\":\"Delivered\"},\"labels_positions_v2\":{\"0\":1,\"1\":4,\"2\":5,\"3\":3,\"4\":2,\"5\":0,\"6\":6,\"7\":7},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"4\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"},\"6\":{\"color\":\"#401694\",\"border\":\"#401694\",\"var_name\":\"dark_indigo\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"}}}",
                                                                    "selectType": "label2index"
                                                                }
                                                            }
                                                        ],
                                                        "create_labels_if_missing": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 2100
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "itemId": {
                                                                    "mode": "edit"
                                                                },
                                                                "boardId": {
                                                                    "mode": "chose",
                                                                    "label": "Orders  ::  public"
                                                                },
                                                                "columnValuesToChange": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        {
                                                                            "columnId": {
                                                                                "mode": "chose",
                                                                                "label": "Order Status"
                                                                            },
                                                                            "columnValue": {
                                                                                "nested": {
                                                                                    "label": {
                                                                                        "mode": "chose",
                                                                                        "label": "Warranty"
                                                                                    },
                                                                                    "selectType": {
                                                                                        "mode": "chose",
                                                                                        "label": "Label"
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "monday"
                                                                    },
                                                                    "label": "My Monday v2 connection"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:monday",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "boardId",
                                                                "type": "select",
                                                                "label": "Board ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "create_labels_if_missing",
                                                                "type": "boolean",
                                                                "label": "Create Labels if Missing",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "itemId",
                                                                "type": "select",
                                                                "label": "Item ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "columnValuesToChange",
                                                                "spec": [
                                                                    {
                                                                        "name": "columnId",
                                                                        "type": "select",
                                                                        "label": "Column ID",
                                                                        "dynamic": true,
                                                                        "options": {
                                                                            "store": []
                                                                        },
                                                                        "required": true,
                                                                        "validate": false
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Column Values to Change",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}