Client Email Changes.json
{
    "name": "Client Email Changes",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1319093
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1350
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Customer Address Change"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2156737
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "4693736788",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1350
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Clients | Accounts  ::  private"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection New"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "how_can_we_help_",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "How can we help?"
                            },
                            {
                                "name": "notes",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Notes"
                            },
                            {
                                "name": "person",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Person"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 17,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 2700
                        }
                    }
                }
            ]
        },
        {
            "id": 49,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Item Exists",
                "conditions": [
                    [
                        {
                            "a": "{{2.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "duration": "1"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1200
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2156737
            },
            "mapper": {
                "limit": "10",
                "boardId": "4842306128",
                "columnId": "text5",
                "startPage": "",
                "columnValue": "{{2.mappable_column_values.text2}}",
                "showParentID": false,
                "showSubitemsID": false,
                "filterToGetColumnValues": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 1200
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "Pipeline  ::  share"
                        },
                        "columnId": {
                            "mode": "chose",
                            "label": "Client Reference"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection New"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "sale_person",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Sale Person"
                            },
                            {
                                "name": "admin",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Admin"
                            },
                            {
                                "name": "bdm",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "BDM"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 2400
                        }
                    }
                }
            ]
        },
        {
            "id": 29,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 1050
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "monday:GetItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{3.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                "boardId": "",
                                "showSubitems": true,
                                "showParentItem": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showParentItem",
                                        "type": "boolean",
                                        "label": "Show Parent Item",
                                        "required": true
                                    },
                                    {
                                        "name": "showSubitems",
                                        "type": "boolean",
                                        "label": "Show Subitems",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "date",
                                        "label": "Created at"
                                    },
                                    {
                                        "name": "updated_at",
                                        "type": "date",
                                        "label": "Updated at"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State"
                                    },
                                    {
                                        "name": "board",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Board"
                                    },
                                    {
                                        "name": "creator_id",
                                        "type": "uinteger",
                                        "label": "Creator ID"
                                    },
                                    {
                                        "name": "group",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "deleted",
                                                "type": "boolean",
                                                "label": "Deleted"
                                            },
                                            {
                                                "name": "archived",
                                                "type": "boolean",
                                                "label": "Archived"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Group"
                                    },
                                    {
                                        "name": "column_values",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "additional_info",
                                                "type": "text",
                                                "label": "Additional Info"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values"
                                    },
                                    {
                                        "name": "mappable_column_values",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Mappable column values"
                                    },
                                    {
                                        "name": "assets",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "public_url",
                                                "type": "url",
                                                "label": "Public URL"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "file_extension",
                                                "type": "text",
                                                "label": "File Extension"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Assets"
                                    },
                                    {
                                        "name": "parent_item",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent Item"
                                    },
                                    {
                                        "name": "subitems",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "created_at",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "date",
                                                "label": "Updated at"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            },
                                            {
                                                "name": "board",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Board"
                                            },
                                            {
                                                "name": "creator_id",
                                                "type": "uinteger",
                                                "label": "Creator ID"
                                            },
                                            {
                                                "name": "group",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Group"
                                            },
                                            {
                                                "name": "column_values",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "additional_info",
                                                        "type": "text",
                                                        "label": "Additional Info"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Column Values"
                                            },
                                            {
                                                "name": "mappable_column_values",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Mappable column values"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitems"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 16,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 600
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 25,
                            "module": "monday:ExecuteGraphQLQuery",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.mappable_column_values.contact_email.email}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "method": "POST",
                                "queryBody": "mutation {change_multiple_column_values (board_id: {{7.board.id}}, item_id: {{7.id}}, column_values: \"{\\\"{{if(7.board.id = 6203211056; \"email__1\"; \"customer_email\")}}\\\":{\\\"email\\\":\\\"{{2.mappable_column_values.contact_email.email}}\\\",\\\"text\\\":\\\"{{2.mappable_column_values.contact_email.text}}\\\"}}\") {id}}",
                                "variables": [],
                                "apiVersion": "",
                                "operationName": "",
                                "variablesDataSource": "array"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "POST (queries and mutations)"
                                        },
                                        "variables": {
                                            "mode": "chose"
                                        },
                                        "apiVersion": {
                                            "label": "Empty"
                                        },
                                        "variablesDataSource": {
                                            "label": "Form"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "apiVersion",
                                        "type": "select",
                                        "label": "API Version"
                                    },
                                    {
                                        "name": "queryBody",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operationName",
                                        "type": "text",
                                        "label": "Operation Name"
                                    },
                                    {
                                        "name": "variablesDataSource",
                                        "type": "select",
                                        "label": "Variables Data Source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "array",
                                                "object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 28,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 2100,
                                            "y": 300
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 26,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "mapper": {
                                "itemId": "{{2.id}}",
                                "boardId": "4693736788",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "color3__1",
                                        "columnValue": {
                                            "label": "Done",
                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                            "selectType": "label2index"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Clients | Accounts  ::  private"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Email Updated"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "chose",
                                                                "label": "Done"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 27,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 2400,
                                            "y": 0
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1500
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 50,
                            "module": "monday:ListItemsByColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2156737
                            },
                            "mapper": {
                                "limit": "10",
                                "boardId": "4842306128",
                                "columnId": "text5",
                                "startPage": "",
                                "columnValue": "{{2.mappable_column_values.text2}}",
                                "showParentID": false,
                                "showSubitemsID": false,
                                "filterToGetColumnValues": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 1500
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Pipeline  ::  share"
                                        },
                                        "columnId": {
                                            "mode": "chose",
                                            "label": "Client Reference"
                                        },
                                        "filterToGetColumnValues": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection New"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showParentID",
                                        "type": "boolean",
                                        "label": "Show Parent ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showSubitemsID",
                                        "type": "boolean",
                                        "label": "Show Subitems ID",
                                        "required": true
                                    },
                                    {
                                        "name": "startPage",
                                        "type": "uinteger",
                                        "label": "Start Page"
                                    },
                                    {
                                        "name": "columnId",
                                        "type": "select",
                                        "label": "Column ID to Search the Value",
                                        "required": true
                                    },
                                    {
                                        "name": "filterToGetColumnValues",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "Column ID",
                                            "dynamic": true,
                                            "options": [],
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Output Column Values"
                                    },
                                    {
                                        "name": "columnValue",
                                        "type": "text",
                                        "label": "Column Value",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "date",
                                        "label": "Created at"
                                    },
                                    {
                                        "name": "updated_at",
                                        "type": "date",
                                        "label": "Updated at"
                                    },
                                    {
                                        "name": "board",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Board"
                                    },
                                    {
                                        "name": "creator_id",
                                        "type": "uinteger",
                                        "label": "Creator ID"
                                    },
                                    {
                                        "name": "group",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Group"
                                    },
                                    {
                                        "name": "column_values",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "additional_info",
                                                "type": "text",
                                                "label": "Additional Info"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values"
                                    },
                                    {
                                        "name": "mappable_column_values",
                                        "spec": [
                                            {
                                                "name": "sale_person",
                                                "spec": [
                                                    {
                                                        "name": "personsAndTeams",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "kind",
                                                                "type": "text",
                                                                "label": "Kind"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Persons and Teams"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Sale Person"
                                            },
                                            {
                                                "name": "admin",
                                                "spec": [
                                                    {
                                                        "name": "personsAndTeams",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "kind",
                                                                "type": "text",
                                                                "label": "Kind"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Persons and Teams"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Admin"
                                            },
                                            {
                                                "name": "bdm",
                                                "spec": [
                                                    {
                                                        "name": "personsAndTeams",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "kind",
                                                                "type": "text",
                                                                "label": "Kind"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Persons and Teams"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "BDM"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Mappable column values"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 51,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 2100,
                                            "y": 2100
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 46,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 1350
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 31,
                                            "module": "monday:GetItem",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2156737
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{50.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{50.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                                "boardId": "",
                                                "showSubitems": true,
                                                "showParentItem": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "boardId": {
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection New"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "showParentItem",
                                                        "type": "boolean",
                                                        "label": "Show Parent Item",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "showSubitems",
                                                        "type": "boolean",
                                                        "label": "Show Subitems",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "created_at",
                                                        "type": "date",
                                                        "label": "Created at"
                                                    },
                                                    {
                                                        "name": "updated_at",
                                                        "type": "date",
                                                        "label": "Updated at"
                                                    },
                                                    {
                                                        "name": "state",
                                                        "type": "text",
                                                        "label": "State"
                                                    },
                                                    {
                                                        "name": "board",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Board"
                                                    },
                                                    {
                                                        "name": "creator_id",
                                                        "type": "uinteger",
                                                        "label": "Creator ID"
                                                    },
                                                    {
                                                        "name": "group",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "deleted",
                                                                "type": "boolean",
                                                                "label": "Deleted"
                                                            },
                                                            {
                                                                "name": "archived",
                                                                "type": "boolean",
                                                                "label": "Archived"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Group"
                                                    },
                                                    {
                                                        "name": "column_values",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "additional_info",
                                                                "type": "text",
                                                                "label": "Additional Info"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values"
                                                    },
                                                    {
                                                        "name": "mappable_column_values",
                                                        "spec": [],
                                                        "type": "collection",
                                                        "label": "Mappable column values"
                                                    },
                                                    {
                                                        "name": "assets",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "public_url",
                                                                "type": "url",
                                                                "label": "Public URL"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "file_extension",
                                                                "type": "text",
                                                                "label": "File Extension"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Assets"
                                                    },
                                                    {
                                                        "name": "parent_item",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "created_at",
                                                                "type": "date",
                                                                "label": "Created at"
                                                            },
                                                            {
                                                                "name": "updated_at",
                                                                "type": "date",
                                                                "label": "Updated at"
                                                            },
                                                            {
                                                                "name": "state",
                                                                "type": "text",
                                                                "label": "State"
                                                            },
                                                            {
                                                                "name": "board",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "uinteger",
                                                                        "label": "ID"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Board"
                                                            },
                                                            {
                                                                "name": "creator_id",
                                                                "type": "uinteger",
                                                                "label": "Creator ID"
                                                            },
                                                            {
                                                                "name": "group",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Group"
                                                            },
                                                            {
                                                                "name": "column_values",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value"
                                                                    },
                                                                    {
                                                                        "name": "additional_info",
                                                                        "type": "text",
                                                                        "label": "Additional Info"
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Column Values"
                                                            },
                                                            {
                                                                "name": "mappable_column_values",
                                                                "spec": [],
                                                                "type": "collection",
                                                                "label": "Mappable column values"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Parent Item"
                                                    },
                                                    {
                                                        "name": "subitems",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "created_at",
                                                                "type": "date",
                                                                "label": "Created at"
                                                            },
                                                            {
                                                                "name": "updated_at",
                                                                "type": "date",
                                                                "label": "Updated at"
                                                            },
                                                            {
                                                                "name": "state",
                                                                "type": "text",
                                                                "label": "State"
                                                            },
                                                            {
                                                                "name": "board",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "uinteger",
                                                                        "label": "ID"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Board"
                                                            },
                                                            {
                                                                "name": "creator_id",
                                                                "type": "uinteger",
                                                                "label": "Creator ID"
                                                            },
                                                            {
                                                                "name": "group",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Group"
                                                            },
                                                            {
                                                                "name": "column_values",
                                                                "spec": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value"
                                                                    },
                                                                    {
                                                                        "name": "additional_info",
                                                                        "type": "text",
                                                                        "label": "Additional Info"
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Column Values"
                                                            },
                                                            {
                                                                "name": "mappable_column_values",
                                                                "spec": [],
                                                                "type": "collection",
                                                                "label": "Mappable column values"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Subitems"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 32,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 1500
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 42,
                                            "module": "monday:ExecuteGraphQLQuery",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2156737
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.mappable_column_values.contact_email.email}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "method": "POST",
                                                "queryBody": "mutation {change_multiple_column_values (board_id: {{31.board.id}}, item_id: {{31.id}}, column_values: \"{\\\"{{if(31.board.id = 6203211056; \"email__1\"; \"customer_email\")}}\\\":{\\\"email\\\":\\\"{{2.mappable_column_values.contact_email.email}}\\\",\\\"text\\\":\\\"{{2.mappable_column_values.contact_email.text}}\\\"}}\") {id}}",
                                                "variables": [],
                                                "apiVersion": "",
                                                "operationName": "",
                                                "variablesDataSource": "array"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 1050
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "method": {
                                                            "label": "POST (queries and mutations)"
                                                        },
                                                        "variables": {
                                                            "mode": "chose"
                                                        },
                                                        "apiVersion": {
                                                            "label": "Empty"
                                                        },
                                                        "variablesDataSource": {
                                                            "label": "Form"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection New"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "apiVersion",
                                                        "type": "select",
                                                        "label": "API Version"
                                                    },
                                                    {
                                                        "name": "queryBody",
                                                        "type": "text",
                                                        "label": "Query",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "operationName",
                                                        "type": "text",
                                                        "label": "Operation Name"
                                                    },
                                                    {
                                                        "name": "variablesDataSource",
                                                        "type": "select",
                                                        "label": "Variables Data Source",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "array",
                                                                "object"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 43,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3000,
                                                            "y": 1200
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 44,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2156737
                                            },
                                            "mapper": {
                                                "itemId": "{{2.id}}",
                                                "boardId": "4693736788",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color3__1",
                                                        "columnValue": {
                                                            "label": "Done",
                                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Clients | Accounts  ::  private"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Email Updated"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Done"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection New"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 45,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3300,
                                                            "y": 900
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 47,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2156737
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{50.mappable_column_values.connect_boards21.linkedPulseIds[].linkedPulseId}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "itemId": "{{2.id}}",
                                                "boardId": "4693736788",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "color3__1",
                                                        "columnValue": {
                                                            "label": "Stuck",
                                                            "settings": "{\"done_colors\":[1],\"labels\":{\"0\":\"Initiated\",\"1\":\"Done\",\"2\":\"Stuck\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 1800
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Clients | Accounts  ::  private"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Email Updated"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Stuck"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection New"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 48,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 1800
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}