Create mirror on pinnacle board if chosen on order subitem.json
{
    "name": "Create mirror on pinnacle board if chosen on order subitem",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 189564
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "When factory chosen on Order's subitem"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Pinnacle",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.value.linkedPulseIds[].linkedPulseId}}",
                            "b": "2935038461",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "mapper": {
                                "name": "{{1.event.pulseName}}",
                                "boardId": "2725590124",
                                "groupId": "1653576773_pinnacle",
                                "columnValuesToChange": [],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Pinnacle  ::  private"
                                        },
                                        "groupId": {
                                            "mode": "chose",
                                            "label": "Pinnacle"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "mapper": {
                                "itemId": "{{1.event.pulseId}}",
                                "boardId": "2912442884",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "connect_boards2",
                                        "columnValue": {
                                            "item_ids": "{{3.id}}"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Subitems of Orders  ::  private"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Pinnacle board"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "item_ids": {
                                                                "mode": "edit"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}