Create and connect PInacle.json
{
    "name": "Create and connect PInacle",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 226199
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 900
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Create and connect PInacle"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "5"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 900
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 183282
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "3149239081",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 900
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Sales  ::  public"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "dup__of_install_notes",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Notes For Office"
                            },
                            {
                                "name": "dup__of_order_notes",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Notes For Supplier"
                            },
                            {
                                "name": "text0",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Install Notes"
                            },
                            {
                                "name": "person",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Salesperson"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 900
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.mappable_column_values.link_to_suppliers5.text}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{2.mappable_column_values.link_to_suppliers5.linkedPulseIds}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 4,
                                            "module": "monday:CreateItem",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{3.linkedPulseId}}",
                                                            "b": "2935038461",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "name": "{{2.name}}",
                                                "boardId": "3275223866",
                                                "groupId": "new_group40698",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "board_relation",
                                                        "columnValue": {
                                                            "item_ids": "{{2.id}}"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Pinnacle  ::  share"
                                                        },
                                                        "groupId": {
                                                            "mode": "chose",
                                                            "label": "Quote Requests"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Sales"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "item_ids": {
                                                                                "mode": "edit"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Item Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "groupId",
                                                        "type": "select",
                                                        "label": "Group ID"
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Array of column values to change"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "monday:ExecuteGraphQLQuery",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "mapper": {
                                                "method": "POST",
                                                "queryBody": "mutation {\n    create_notification (user_id: 38270954, target_id: {{4.id}}, text: \"Hi Laura, can we get a quote on this please.\", target_type: Project) {\n        text\n    }\n}",
                                                "variables": [],
                                                "operationName": "",
                                                "variablesDataSource": "array"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 600,
                                                    "name": "Notify Laura"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "method": {
                                                            "label": "POST (queries and mutations)"
                                                        },
                                                        "variables": {
                                                            "mode": "chose"
                                                        },
                                                        "variablesDataSource": {
                                                            "label": "Form"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "queryBody",
                                                        "type": "text",
                                                        "label": "Query",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "operationName",
                                                        "type": "text",
                                                        "label": "Operation Name"
                                                    },
                                                    {
                                                        "name": "variablesDataSource",
                                                        "type": "select",
                                                        "label": "Variables Data Source",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "array",
                                                                "object"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 600
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 14,
                                                            "module": "google-email:ActionSendEmail",
                                                            "version": 2,
                                                            "parameters": {
                                                                "account": 538617
                                                            },
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{2.mappable_column_values.files.text}}",
                                                                            "o": "notexist"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "cc": [],
                                                                "to": [
                                                                    "laura001@aliyun.com"
                                                                ],
                                                                "bcc": [],
                                                                "from": "",
                                                                "html": "Hi Laura, can we get a quote on this please.\nThanks\nAlyssa\nhttps://civicblinds.monday.com/boards/3275223866/pulses/{{4.id}}",
                                                                "subject": "New item on Pinnacle board",
                                                                "attachments": []
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 0,
                                                                    "name": "Notify Laura"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "cc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "to": {
                                                                            "mode": "chose",
                                                                            "items": [
                                                                                null
                                                                            ]
                                                                        },
                                                                        "bcc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "attachments": {
                                                                            "mode": "chose"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "account": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "google-restricted"
                                                                            },
                                                                            "label": "orders@civicblinds.com (orders@civicblinds.com)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "account",
                                                                        "type": "account:google-restricted",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "from",
                                                                        "type": "text",
                                                                        "label": "From"
                                                                    },
                                                                    {
                                                                        "name": "to",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "To",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "subject",
                                                                        "type": "text",
                                                                        "label": "Subject"
                                                                    },
                                                                    {
                                                                        "name": "html",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "attachments",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            },
                                                                            {
                                                                                "name": "cid",
                                                                                "type": "text",
                                                                                "label": "Content-ID"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Attachments"
                                                                    },
                                                                    {
                                                                        "name": "cc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Copy recipient"
                                                                    },
                                                                    {
                                                                        "name": "bcc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Blind copy recipient"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 16,
                                                            "module": "builtin:BasicFeeder",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{2.mappable_column_values.files.text}}",
                                                                            "o": "exist"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "array": "{{2.mappable_column_values.files.files}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 600
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "array": {
                                                                            "mode": "edit"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "mode": "edit",
                                                                        "name": "array",
                                                                        "spec": [],
                                                                        "type": "array",
                                                                        "label": "Array"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": 18,
                                                            "module": "builtin:BasicRouter",
                                                            "version": 1,
                                                            "mapper": null,
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3000,
                                                                    "y": 600
                                                                }
                                                            },
                                                            "routes": [
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 19,
                                                                            "module": "monday:downloadFile",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "__IMTCONN__": 183282
                                                                            },
                                                                            "filter": {
                                                                                "name": "",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{16.assetId}}",
                                                                                            "o": "exist"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "assetId": "{{16.assetId}}"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3300,
                                                                                    "y": 300
                                                                                },
                                                                                "restore": {
                                                                                    "parameters": {
                                                                                        "__IMTCONN__": {
                                                                                            "data": {
                                                                                                "scoped": "true",
                                                                                                "connection": "monday"
                                                                                            },
                                                                                            "label": "My Monday v2 connection"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "__IMTCONN__",
                                                                                        "type": "account:monday",
                                                                                        "label": "Connection",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "assetId",
                                                                                        "type": "uinteger",
                                                                                        "label": "Asset ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 32,
                                                                            "module": "builtin:BasicRouter",
                                                                            "version": 1,
                                                                            "mapper": null,
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3600,
                                                                                    "y": 300
                                                                                }
                                                                            },
                                                                            "routes": [
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 31,
                                                                                            "module": "json:AggregateToJSON",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "type": 40689,
                                                                                                "space": "",
                                                                                                "feeder": 16
                                                                                            },
                                                                                            "mapper": {
                                                                                                "data": "{{19.data}}",
                                                                                                "fileName": "{{19.fileName}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 3900,
                                                                                                    "y": 300
                                                                                                },
                                                                                                "restore": {
                                                                                                    "extra": {
                                                                                                        "feeder": {
                                                                                                            "label": "Iterator [16]"
                                                                                                        }
                                                                                                    },
                                                                                                    "parameters": {
                                                                                                        "type": {
                                                                                                            "label": "mail attachment",
                                                                                                            "nested": [
                                                                                                                {
                                                                                                                    "name": "fileName",
                                                                                                                    "type": "text",
                                                                                                                    "label": null,
                                                                                                                    "default": null,
                                                                                                                    "required": true,
                                                                                                                    "multiline": false
                                                                                                                },
                                                                                                                {
                                                                                                                    "name": "data",
                                                                                                                    "type": "buffer",
                                                                                                                    "label": null,
                                                                                                                    "codepage": null,
                                                                                                                    "required": true
                                                                                                                }
                                                                                                            ]
                                                                                                        },
                                                                                                        "space": {
                                                                                                            "label": "Empty"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "udt",
                                                                                                        "label": "Data structure",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "space",
                                                                                                        "type": "select",
                                                                                                        "label": "Indentation",
                                                                                                        "validate": {
                                                                                                            "enum": [
                                                                                                                "tab",
                                                                                                                "2",
                                                                                                                "4"
                                                                                                            ]
                                                                                                        }
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "fileName",
                                                                                                        "type": "text",
                                                                                                        "label": null,
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "buffer",
                                                                                                        "label": null,
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "advanced": true
                                                                                            },
                                                                                            "flags": {
                                                                                                "stopIfEmpty": true
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 37,
                                                                                            "module": "json:ParseJSON",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "type": ""
                                                                                            },
                                                                                            "mapper": {
                                                                                                "json": "{{31.json}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4200,
                                                                                                    "y": 300
                                                                                                },
                                                                                                "restore": {
                                                                                                    "parameters": {
                                                                                                        "type": {
                                                                                                            "label": "Choose a data structure"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "udt",
                                                                                                        "label": "Data structure"
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "json",
                                                                                                        "type": "text",
                                                                                                        "label": "JSON string",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 38,
                                                                                            "module": "builtin:BasicAggregator",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "feeder": 37
                                                                                            },
                                                                                            "mapper": {
                                                                                                "data": "{{37.data}}",
                                                                                                "fileName": "{{37.fileName}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4500,
                                                                                                    "y": 300
                                                                                                },
                                                                                                "restore": {
                                                                                                    "extra": {
                                                                                                        "feeder": {
                                                                                                            "label": "JSON - Parse JSON [37]"
                                                                                                        },
                                                                                                        "target": {
                                                                                                            "label": "Custom"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 33,
                                                                                            "module": "util:SetVariable2",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "mapper": {
                                                                                                "name": "array1",
                                                                                                "scope": "roundtrip",
                                                                                                "value": "{{38.array}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4800,
                                                                                                    "y": 300
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "scope": {
                                                                                                            "label": "One cycle"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "name",
                                                                                                        "type": "text",
                                                                                                        "label": "Variable name",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "scope",
                                                                                                        "type": "select",
                                                                                                        "label": "Variable lifetime",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "enum": [
                                                                                                                "roundtrip",
                                                                                                                "execution"
                                                                                                            ]
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "value",
                                                                                                        "type": "any",
                                                                                                        "label": "Variable value"
                                                                                                    }
                                                                                                ],
                                                                                                "interface": [
                                                                                                    {
                                                                                                        "name": "array1",
                                                                                                        "type": "any",
                                                                                                        "label": "array1"
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 29,
                                                                            "module": "util:SetVariable2",
                                                                            "version": 1,
                                                                            "parameters": {},
                                                                            "filter": {
                                                                                "name": "",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{16.linkToFile}}",
                                                                                            "o": "exist"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "name": "asd",
                                                                                "scope": "roundtrip",
                                                                                "value": "{{ifempty(get(split(16.linkToFile; \"/\"); 5); get(split(16.linkToFile; \"=\"); 2))}}"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3300,
                                                                                    "y": 750
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "scope": {
                                                                                            "label": "One cycle"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "name",
                                                                                        "type": "text",
                                                                                        "label": "Variable name",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "scope",
                                                                                        "type": "select",
                                                                                        "label": "Variable lifetime",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "roundtrip",
                                                                                                "execution"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Variable value"
                                                                                    }
                                                                                ],
                                                                                "interface": [
                                                                                    {
                                                                                        "name": "asd",
                                                                                        "type": "any",
                                                                                        "label": "asd"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 28,
                                                                            "module": "google-drive:getAFile",
                                                                            "version": 4,
                                                                            "parameters": {
                                                                                "__IMTCONN__": 538617
                                                                            },
                                                                            "filter": {
                                                                                "name": "",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{29.asd}}",
                                                                                            "o": "exist"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "file": "{{29.asd}}",
                                                                                "select": "map",
                                                                                "formatDrawings": "image/jpeg",
                                                                                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                                                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                                                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3600,
                                                                                    "y": 750
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "select": {
                                                                                            "label": "Enter manually"
                                                                                        },
                                                                                        "formatDrawings": {
                                                                                            "label": "JPEG"
                                                                                        },
                                                                                        "formatDocuments": {
                                                                                            "label": "MS Word Document"
                                                                                        },
                                                                                        "formatSpreadsheets": {
                                                                                            "label": "MS Excel"
                                                                                        },
                                                                                        "formatPresentations": {
                                                                                            "label": "MS PowerPoint"
                                                                                        }
                                                                                    },
                                                                                    "parameters": {
                                                                                        "__IMTCONN__": {
                                                                                            "data": {
                                                                                                "scoped": "true",
                                                                                                "connection": "google-restricted"
                                                                                            },
                                                                                            "label": "orders@civicblinds.com (orders@civicblinds.com)"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "__IMTCONN__",
                                                                                        "type": "account:google-restricted",
                                                                                        "label": "Connection",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "select",
                                                                                        "type": "select",
                                                                                        "label": "Enter a File ID",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "map",
                                                                                                "value"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "formatDocuments",
                                                                                        "type": "select",
                                                                                        "label": "Convert Google Documents Files to Format",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                                                                "application/pdf",
                                                                                                "application/vnd.oasis.opendocument.text",
                                                                                                "text/html",
                                                                                                "text/plain",
                                                                                                "application/rtf"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "formatSpreadsheets",
                                                                                        "type": "select",
                                                                                        "label": "Convert Google Spreadsheets Files to Format",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                                                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                                                                                "application/pdf"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "formatPresentations",
                                                                                        "type": "select",
                                                                                        "label": "Convert Google Slides Files to Format",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                                                                                "application/pdf"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "formatDrawings",
                                                                                        "type": "select",
                                                                                        "label": "Convert Google Drawings Files to Format",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "image/jpeg",
                                                                                                "image/png",
                                                                                                "image/svg+xml",
                                                                                                "application/pdf"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "file",
                                                                                        "type": "text",
                                                                                        "label": "File ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "onerror": [
                                                                                {
                                                                                    "id": 44,
                                                                                    "module": "builtin:Ignore",
                                                                                    "version": 1,
                                                                                    "metadata": {
                                                                                        "designer": {
                                                                                            "x": 3900,
                                                                                            "y": 900
                                                                                        }
                                                                                    }
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "id": 36,
                                                                            "module": "builtin:BasicRouter",
                                                                            "version": 1,
                                                                            "mapper": null,
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3900,
                                                                                    "y": 600
                                                                                }
                                                                            },
                                                                            "routes": [
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 34,
                                                                                            "module": "json:AggregateToJSON",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "type": 40689,
                                                                                                "space": "",
                                                                                                "feeder": 16
                                                                                            },
                                                                                            "mapper": {
                                                                                                "data": "{{28.data}}",
                                                                                                "fileName": "{{28.name}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4200,
                                                                                                    "y": 600
                                                                                                },
                                                                                                "restore": {
                                                                                                    "extra": {
                                                                                                        "feeder": {
                                                                                                            "label": "Iterator [16]"
                                                                                                        }
                                                                                                    },
                                                                                                    "parameters": {
                                                                                                        "type": {
                                                                                                            "label": "mail attachment",
                                                                                                            "nested": [
                                                                                                                {
                                                                                                                    "name": "fileName",
                                                                                                                    "type": "text",
                                                                                                                    "label": null,
                                                                                                                    "default": null,
                                                                                                                    "required": true,
                                                                                                                    "multiline": false
                                                                                                                },
                                                                                                                {
                                                                                                                    "name": "data",
                                                                                                                    "type": "buffer",
                                                                                                                    "label": null,
                                                                                                                    "codepage": null,
                                                                                                                    "required": true
                                                                                                                }
                                                                                                            ]
                                                                                                        },
                                                                                                        "space": {
                                                                                                            "label": "Empty"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "udt",
                                                                                                        "label": "Data structure",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "space",
                                                                                                        "type": "select",
                                                                                                        "label": "Indentation",
                                                                                                        "validate": {
                                                                                                            "enum": [
                                                                                                                "tab",
                                                                                                                "2",
                                                                                                                "4"
                                                                                                            ]
                                                                                                        }
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "fileName",
                                                                                                        "type": "text",
                                                                                                        "label": null,
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "buffer",
                                                                                                        "label": null,
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "advanced": true
                                                                                            },
                                                                                            "flags": {
                                                                                                "stopIfEmpty": true
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 39,
                                                                                            "module": "json:ParseJSON",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "type": ""
                                                                                            },
                                                                                            "mapper": {
                                                                                                "json": "{{34.json}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4500,
                                                                                                    "y": 600
                                                                                                },
                                                                                                "restore": {
                                                                                                    "parameters": {
                                                                                                        "type": {
                                                                                                            "label": "Choose a data structure"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "udt",
                                                                                                        "label": "Data structure"
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "json",
                                                                                                        "type": "text",
                                                                                                        "label": "JSON string",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 40,
                                                                                            "module": "builtin:BasicAggregator",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "feeder": 39
                                                                                            },
                                                                                            "mapper": {
                                                                                                "data": "{{39.data}}",
                                                                                                "fileName": "{{39.fileName}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 4800,
                                                                                                    "y": 600
                                                                                                },
                                                                                                "restore": {
                                                                                                    "extra": {
                                                                                                        "feeder": {
                                                                                                            "label": "JSON - Parse JSON [37]"
                                                                                                        },
                                                                                                        "target": {
                                                                                                            "label": "Custom"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 41,
                                                                                            "module": "util:SetVariable2",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "mapper": {
                                                                                                "name": "array2",
                                                                                                "scope": "roundtrip",
                                                                                                "value": "{{40.array}}"
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 5100,
                                                                                                    "y": 600
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "scope": {
                                                                                                            "label": "One cycle"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "name",
                                                                                                        "type": "text",
                                                                                                        "label": "Variable name",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "scope",
                                                                                                        "type": "select",
                                                                                                        "label": "Variable lifetime",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "enum": [
                                                                                                                "roundtrip",
                                                                                                                "execution"
                                                                                                            ]
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "value",
                                                                                                        "type": "any",
                                                                                                        "label": "Variable value"
                                                                                                    }
                                                                                                ],
                                                                                                "interface": [
                                                                                                    {
                                                                                                        "name": "array2",
                                                                                                        "type": "any",
                                                                                                        "label": "array2"
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 23,
                                                            "module": "util:GetVariables",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{2.mappable_column_values.files.text}}",
                                                                            "o": "exist"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "variables": [
                                                                    "array1",
                                                                    "array2"
                                                                ]
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 1200
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "variables": {
                                                                            "items": [
                                                                                null,
                                                                                null
                                                                            ]
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "variables",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "text",
                                                                            "label": "Variable name",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Variables"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "array1",
                                                                        "type": "any",
                                                                        "label": "array1"
                                                                    },
                                                                    {
                                                                        "name": "array2",
                                                                        "type": "any",
                                                                        "label": "array2"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": 24,
                                                            "module": "google-email:ActionSendEmail",
                                                            "version": 2,
                                                            "parameters": {
                                                                "account": 538617
                                                            },
                                                            "mapper": {
                                                                "cc": [],
                                                                "to": [
                                                                    "paharav245@tohup.com"
                                                                ],
                                                                "bcc": [],
                                                                "from": "",
                                                                "html": "Hi Laura, can we get a quote on this please.\nWork sheets files attached.\nThanks\nAlyssa\nhttps://civicblinds.monday.com/boards/3275223866/pulses/{{4.id}}",
                                                                "subject": "New item on Pinnacle board",
                                                                "attachments": "{{merge(23.array1; 23.array2)}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3000,
                                                                    "y": 1200,
                                                                    "name": "Notify Laura"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "cc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "to": {
                                                                            "mode": "chose",
                                                                            "items": [
                                                                                null
                                                                            ]
                                                                        },
                                                                        "bcc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "attachments": {
                                                                            "mode": "edit"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "account": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "google-restricted"
                                                                            },
                                                                            "label": "orders@civicblinds.com (orders@civicblinds.com)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "account",
                                                                        "type": "account:google-restricted",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "from",
                                                                        "type": "text",
                                                                        "label": "From"
                                                                    },
                                                                    {
                                                                        "name": "to",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "To",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "subject",
                                                                        "type": "text",
                                                                        "label": "Subject"
                                                                    },
                                                                    {
                                                                        "name": "html",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "attachments",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            },
                                                                            {
                                                                                "name": "cid",
                                                                                "type": "text",
                                                                                "label": "Content-ID"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Attachments"
                                                                    },
                                                                    {
                                                                        "name": "cc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Copy recipient"
                                                                    },
                                                                    {
                                                                        "name": "bcc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Blind copy recipient"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 5,
                                            "module": "monday:DeleteItem",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 183282
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{map(2.mappable_column_values.link_to_suppliers5.linkedPulseIds; \"linkedPulseId\")}}",
                                                            "b": "2935038461",
                                                            "o": "array:notcontain"
                                                        },
                                                        {
                                                            "a": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                                                "isToArchiveItem": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1500
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "My Monday v2 connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "id",
                                                        "type": "uinteger",
                                                        "label": "ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "isToArchiveItem",
                                                        "type": "boolean",
                                                        "label": "Is to Just Archive",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "monday:DeleteItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 183282
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.mappable_column_values.link_to_suppliers5.text}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                                "isToArchiveItem": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1800
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "My Monday v2 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "isToArchiveItem",
                                        "type": "boolean",
                                        "label": "Is to Just Archive",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}