Integration Invoice Ninja.json
{
    "name": "Integration Invoice Ninja",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1017047,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -186,
                    "y": -168
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Ninja Sent Quote"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text"
                    },
                    {
                        "name": "user_id",
                        "type": "text"
                    },
                    {
                        "name": "assigned_user_id",
                        "type": "text"
                    },
                    {
                        "name": "amount",
                        "type": "number"
                    },
                    {
                        "name": "balance",
                        "type": "number"
                    },
                    {
                        "name": "client_id",
                        "type": "text"
                    },
                    {
                        "name": "status_id",
                        "type": "text"
                    },
                    {
                        "name": "design_id",
                        "type": "text"
                    },
                    {
                        "name": "invoice_id",
                        "type": "text"
                    },
                    {
                        "name": "vendor_id",
                        "type": "text"
                    },
                    {
                        "name": "updated_at",
                        "type": "number"
                    },
                    {
                        "name": "archived_at",
                        "type": "number"
                    },
                    {
                        "name": "created_at",
                        "type": "number"
                    },
                    {
                        "name": "number",
                        "type": "text"
                    },
                    {
                        "name": "discount",
                        "type": "number"
                    },
                    {
                        "name": "po_number",
                        "type": "text"
                    },
                    {
                        "name": "date",
                        "type": "text"
                    },
                    {
                        "name": "last_sent_date",
                        "type": "text"
                    },
                    {
                        "name": "next_send_date",
                        "type": "text"
                    },
                    {
                        "name": "reminder1_sent",
                        "type": "text"
                    },
                    {
                        "name": "reminder2_sent",
                        "type": "text"
                    },
                    {
                        "name": "reminder3_sent",
                        "type": "text"
                    },
                    {
                        "name": "reminder_last_sent",
                        "type": "text"
                    },
                    {
                        "name": "due_date",
                        "type": "text"
                    },
                    {
                        "name": "terms",
                        "type": "text"
                    },
                    {
                        "name": "public_notes",
                        "type": "text"
                    },
                    {
                        "name": "private_notes",
                        "type": "text"
                    },
                    {
                        "name": "is_deleted",
                        "type": "boolean"
                    },
                    {
                        "name": "uses_inclusive_taxes",
                        "type": "boolean"
                    },
                    {
                        "name": "tax_name1",
                        "type": "text"
                    },
                    {
                        "name": "tax_rate1",
                        "type": "number"
                    },
                    {
                        "name": "tax_name2",
                        "type": "text"
                    },
                    {
                        "name": "tax_rate2",
                        "type": "number"
                    },
                    {
                        "name": "tax_name3",
                        "type": "text"
                    },
                    {
                        "name": "tax_rate3",
                        "type": "number"
                    },
                    {
                        "name": "total_taxes",
                        "type": "number"
                    },
                    {
                        "name": "is_amount_discount",
                        "type": "boolean"
                    },
                    {
                        "name": "footer",
                        "type": "text"
                    },
                    {
                        "name": "partial",
                        "type": "number"
                    },
                    {
                        "name": "partial_due_date",
                        "type": "text"
                    },
                    {
                        "name": "custom_value1",
                        "type": "text"
                    },
                    {
                        "name": "custom_value2",
                        "type": "text"
                    },
                    {
                        "name": "custom_value3",
                        "type": "text"
                    },
                    {
                        "name": "custom_value4",
                        "type": "text"
                    },
                    {
                        "name": "has_tasks",
                        "type": "boolean"
                    },
                    {
                        "name": "has_expenses",
                        "type": "boolean"
                    },
                    {
                        "name": "custom_surcharge1",
                        "type": "number"
                    },
                    {
                        "name": "custom_surcharge2",
                        "type": "number"
                    },
                    {
                        "name": "custom_surcharge3",
                        "type": "number"
                    },
                    {
                        "name": "custom_surcharge4",
                        "type": "number"
                    },
                    {
                        "name": "custom_surcharge_tax1",
                        "type": "boolean"
                    },
                    {
                        "name": "custom_surcharge_tax2",
                        "type": "boolean"
                    },
                    {
                        "name": "custom_surcharge_tax3",
                        "type": "boolean"
                    },
                    {
                        "name": "custom_surcharge_tax4",
                        "type": "boolean"
                    },
                    {
                        "name": "line_items",
                        "spec": {
                            "spec": [
                                {
                                    "name": "_id",
                                    "type": "text"
                                },
                                {
                                    "name": "quantity",
                                    "type": "number"
                                },
                                {
                                    "name": "cost",
                                    "type": "number"
                                },
                                {
                                    "name": "product_key",
                                    "type": "text"
                                },
                                {
                                    "name": "product_cost",
                                    "type": "number"
                                },
                                {
                                    "name": "notes",
                                    "type": "text"
                                },
                                {
                                    "name": "discount",
                                    "type": "number"
                                },
                                {
                                    "name": "is_amount_discount",
                                    "type": "boolean"
                                },
                                {
                                    "name": "tax_name1",
                                    "type": "text"
                                },
                                {
                                    "name": "tax_rate1",
                                    "type": "number"
                                },
                                {
                                    "name": "tax_name2",
                                    "type": "text"
                                },
                                {
                                    "name": "tax_rate2",
                                    "type": "number"
                                },
                                {
                                    "name": "tax_name3",
                                    "type": "text"
                                },
                                {
                                    "name": "tax_rate3",
                                    "type": "number"
                                },
                                {
                                    "name": "sort_id",
                                    "type": "text"
                                },
                                {
                                    "name": "line_total",
                                    "type": "number"
                                },
                                {
                                    "name": "tax_amount",
                                    "type": "number"
                                },
                                {
                                    "name": "gross_line_total",
                                    "type": "number"
                                },
                                {
                                    "name": "date",
                                    "type": "text"
                                },
                                {
                                    "name": "custom_value1",
                                    "type": "text"
                                },
                                {
                                    "name": "custom_value2",
                                    "type": "text"
                                },
                                {
                                    "name": "custom_value3",
                                    "type": "text"
                                },
                                {
                                    "name": "custom_value4",
                                    "type": "text"
                                },
                                {
                                    "name": "type_id",
                                    "type": "text"
                                },
                                {
                                    "name": "tax_id",
                                    "type": "text"
                                },
                                {
                                    "name": "task_id",
                                    "type": "text"
                                },
                                {
                                    "name": "expense_id",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    },
                    {
                        "name": "entity_type",
                        "type": "text"
                    },
                    {
                        "name": "exchange_rate",
                        "type": "number"
                    },
                    {
                        "name": "paid_to_date",
                        "type": "number"
                    },
                    {
                        "name": "project_id",
                        "type": "text"
                    },
                    {
                        "name": "subscription_id",
                        "type": "text"
                    },
                    {
                        "name": "invitations",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text"
                                },
                                {
                                    "name": "client_contact_id",
                                    "type": "text"
                                },
                                {
                                    "name": "key",
                                    "type": "text"
                                },
                                {
                                    "name": "link",
                                    "type": "text"
                                },
                                {
                                    "name": "sent_date",
                                    "type": "text"
                                },
                                {
                                    "name": "viewed_date",
                                    "type": "text"
                                },
                                {
                                    "name": "opened_date",
                                    "type": "text"
                                },
                                {
                                    "name": "updated_at",
                                    "type": "number"
                                },
                                {
                                    "name": "archived_at",
                                    "type": "number"
                                },
                                {
                                    "name": "created_at",
                                    "type": "number"
                                },
                                {
                                    "name": "email_status",
                                    "type": "text"
                                },
                                {
                                    "name": "email_error",
                                    "type": "text"
                                },
                                {
                                    "name": "message_id",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    },
                    {
                        "name": "documents",
                        "type": "array"
                    },
                    {
                        "name": "client",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "user_id",
                                "type": "text"
                            },
                            {
                                "name": "assigned_user_id",
                                "type": "text"
                            },
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "website",
                                "type": "text"
                            },
                            {
                                "name": "private_notes",
                                "type": "text"
                            },
                            {
                                "name": "balance",
                                "type": "number"
                            },
                            {
                                "name": "group_settings_id",
                                "type": "text"
                            },
                            {
                                "name": "paid_to_date",
                                "type": "number"
                            },
                            {
                                "name": "payment_balance",
                                "type": "number"
                            },
                            {
                                "name": "credit_balance",
                                "type": "number"
                            },
                            {
                                "name": "last_login",
                                "type": "number"
                            },
                            {
                                "name": "size_id",
                                "type": "text"
                            },
                            {
                                "name": "public_notes",
                                "type": "text"
                            },
                            {
                                "name": "client_hash",
                                "type": "text"
                            },
                            {
                                "name": "address1",
                                "type": "text"
                            },
                            {
                                "name": "address2",
                                "type": "text"
                            },
                            {
                                "name": "phone",
                                "type": "text"
                            },
                            {
                                "name": "city",
                                "type": "text"
                            },
                            {
                                "name": "state",
                                "type": "text"
                            },
                            {
                                "name": "postal_code",
                                "type": "text"
                            },
                            {
                                "name": "country_id",
                                "type": "text"
                            },
                            {
                                "name": "industry_id",
                                "type": "text"
                            },
                            {
                                "name": "custom_value1",
                                "type": "text"
                            },
                            {
                                "name": "custom_value2",
                                "type": "text"
                            },
                            {
                                "name": "custom_value3",
                                "type": "text"
                            },
                            {
                                "name": "custom_value4",
                                "type": "text"
                            },
                            {
                                "name": "shipping_address1",
                                "type": "text"
                            },
                            {
                                "name": "shipping_address2",
                                "type": "text"
                            },
                            {
                                "name": "shipping_city",
                                "type": "text"
                            },
                            {
                                "name": "shipping_state",
                                "type": "text"
                            },
                            {
                                "name": "shipping_postal_code",
                                "type": "text"
                            },
                            {
                                "name": "shipping_country_id",
                                "type": "text"
                            },
                            {
                                "name": "settings",
                                "spec": [
                                    {
                                        "name": "entity",
                                        "type": "text"
                                    },
                                    {
                                        "name": "industry_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "size_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "currency_id",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "is_deleted",
                                "type": "boolean"
                            },
                            {
                                "name": "vat_number",
                                "type": "text"
                            },
                            {
                                "name": "id_number",
                                "type": "text"
                            },
                            {
                                "name": "updated_at",
                                "type": "number"
                            },
                            {
                                "name": "archived_at",
                                "type": "number"
                            },
                            {
                                "name": "created_at",
                                "type": "number"
                            },
                            {
                                "name": "display_name",
                                "type": "text"
                            },
                            {
                                "name": "number",
                                "type": "text"
                            },
                            {
                                "name": "has_valid_vat_number",
                                "type": "boolean"
                            },
                            {
                                "name": "is_tax_exempt",
                                "type": "boolean"
                            },
                            {
                                "name": "routing_id",
                                "type": "text"
                            },
                            {
                                "name": "tax_info",
                                "spec": [],
                                "type": "collection"
                            },
                            {
                                "name": "classification",
                                "type": "text"
                            },
                            {
                                "name": "contacts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text"
                                        },
                                        {
                                            "name": "first_name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "last_name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "email",
                                            "type": "text"
                                        },
                                        {
                                            "name": "created_at",
                                            "type": "number"
                                        },
                                        {
                                            "name": "updated_at",
                                            "type": "number"
                                        },
                                        {
                                            "name": "archived_at",
                                            "type": "number"
                                        },
                                        {
                                            "name": "is_primary",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "is_locked",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "phone",
                                            "type": "text"
                                        },
                                        {
                                            "name": "custom_value1",
                                            "type": "text"
                                        },
                                        {
                                            "name": "custom_value2",
                                            "type": "text"
                                        },
                                        {
                                            "name": "custom_value3",
                                            "type": "text"
                                        },
                                        {
                                            "name": "custom_value4",
                                            "type": "text"
                                        },
                                        {
                                            "name": "contact_key",
                                            "type": "text"
                                        },
                                        {
                                            "name": "send_email",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "last_login",
                                            "type": "number"
                                        },
                                        {
                                            "name": "password",
                                            "type": "text"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "documents",
                                "type": "array"
                            },
                            {
                                "name": "gateway_tokens",
                                "type": "array"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "invoiceninja:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 417758
            },
            "mapper": {
                "url": "/v1/quote/{{2.invitations[].key}}/download",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 173,
                    "y": -173
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "invoiceninja2"
                            },
                            "label": "My Invoice Ninja connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:invoiceninja2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "monday:AddFileToFileColumnValue",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2156737
            },
            "mapper": {
                "data": "{{3.body}}",
                "itemId": "6041591600",
                "boardId": "4842306128",
                "columnId": "files8",
                "filename": "test.pdf"
            },
            "metadata": {
                "designer": {
                    "x": 674,
                    "y": -176
                },
                "restore": {
                    "expect": {
                        "itemId": {
                            "mode": "chose",
                            "label": "test (6041591600)"
                        },
                        "boardId": {
                            "mode": "chose",
                            "label": "Pipeline  ::  share"
                        },
                        "columnId": {
                            "mode": "chose",
                            "label": "Quotes"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection New"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "Filename",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "Filename",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}